<!DOCTYPE html>
<html lang="en">
<head>
  <title>KeysApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark">

  <nav class="navbar navbar-dark sticky-top"> <!-- BARRA DE NAVEGACIÓN -->   
    <a class="navbar-brand" href="/login">
      <img src="/client/src/app/logo-moby.png" width="30" height="30" class="d-inline-block align-top">
      Cerrar sesión
    </a>
    <div class="home-button">
      <button mat-icon-button color="primary">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </nav> <!-- FIN ** BARRA DE NAVEGACIÓN -->
<br>

<div class="container container-light jumbotron text-center text-monospaced" style="height:300px"> <!-- INICIO DE PÁGINA -->
  <h2 class="display-3">Moby <small>Digital</small></h2>
  <p>Listado de personas con posesión de llaves de la oficina</p>
</div> <!-- FIN ** INICIO DE PÁGINA -->

 <br>
<div class="container text-center container-light d-flex justify-content-center"> <!-- LISTADO DE PERSONAS -->  
  <button (click)="Listar()" mat-raised-button color="primary">Listar</button>
  <button (click)="Nuevo()" mat-raised-button color="primary" style="margin-left: 10px;">Nuevo</button> 
</div> <!-- FIN ** LISTADO DE PERSONAS -->
<hr>
<router-outlet></router-outlet>