<mat-toolbar>
  <span class="fill-remaining-space">Nuevo Moby Digimon!</span>
  <span class="spacer"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon> 
  </button>
</mat-toolbar>
<div class="container">
<form [formGroup]="service.form" npm class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile> <!-- PRIMER FILA -->
        <div class="controler-container">
            <input type="hidden" formControlName="dni">
            <mat-form-field>
                <mat-label>Ingresá el nombre</mat-label>
                <input formControlName="name" [(ngModel)]="persona.name" matInput placeholder="¿Cuál es el nombre?" required> <!--SIEMPRE se le agrega matInput-->
                <mat-error>Faltó rellenar el campo.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Ingresá el apellido</mat-label>
                <input formControlName="lastname" [(ngModel)]="persona.lastname" matInput placeholder="¿Cuál es el apellido?" required> <!--SIEMPRE se le agrega matInput-->
                <mat-error>Faltó rellenar el campo.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Agregá su e-Mail</mat-label>
                <input formControlName="email" [(ngModel)]="persona.email" matInput placeholder="Ej: tunombre@mobydigital.com" required>
                <mat-error>Che, este mail no es válido.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Añadí su teléfono o celular</mat-label>
                <input formControlName="telephone" [(ngModel)]="persona.telephone" matInput placeholder="Agregá su número de teléfono" required> <!--SIEMPRE se le agrega matInput-->
                <mat-error *ngIf="service.form.controls['telephone'].errors?.required">Faltó rellenar el campo.</mat-error>
                <mat-error *ngIf="service.form.controls['telephone'].errors?.minlength">Mínimo 8 caracteres.</mat-error>
            </mat-form-field>
        </div>    
        </mat-grid-tile>
        <mat-grid-tile> <!-- SEGUNDA FILA -->
        <div class="controler-container">
            <mat-form-field>
              <mat-label>Añadí su dni</mat-label>
                <input formControlName="dni" [(ngModel)]="persona.dni" matInput placeholder="Agregá su DNI" maxlength="8" required> <!--SIEMPRE se le agrega matInput-->
                <mat-error *ngIf="service.form.controls['dni'].errors?.required">Faltó rellenar el campo.</mat-error>
                <mat-error *ngIf="service.form.controls['dni'].errors?.minlength">8 caracteres.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Llaves</mat-label>
                <mat-select formControlName="doorkeys" [(ngModel)]="persona.doorkeys" multiple>
               <!-- <mat-select-trigger>
                    {{service.form.controls['doorkeys'].value ? service.form.controls['doorkeys'].value[0] : ''}}
                    <span *ngIf="service.form.controls['doorkeys'].value?.length > 1" class="seleccion-llave">
                    (+{{service.form.controls['doorkeys'].value.length - 1}} {{service.form.controls['doorkeys'].value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>-->
                <mat-option *ngFor="let doorkeys of doorkeysList">{{doorkeys.name}}</mat-option>
                </mat-select>
            </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="service.form.invalid">Enviar</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Borrar</button>
                </div>
        </div>
        </mat-grid-tile> <!--FIN SEGUNDA FILA-->
    </mat-grid-list> <!--FIN LISTADO DE FORMULARIO-->
</form>
</div>
<!--
        <div class="card-body bg-light rounded">
            <form action="">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputName">Nombre/s</label>
                  <input [(ngModel)]="persona.name" name ="name" maxlength="30" type="text" class="form-control" id="inputName" placeholder="Nombre/s">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputLastname">Apellido/s</label>
                  <input [(ngModel)]="persona.lastname" name ="lastname" maxlength="30" type="text" class="form-control" id="inputLastname" placeholder="Apellido/s">
                </div>
              </div>
              <div class="form-group">
                <label for="inpute-Mail">e-Mail</label>
                <input [(ngModel)]="persona.email" name= "email" maxlength="30" type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="inputPhone">Número de teléfono</label>
                <input [(ngModel)]="persona.telephone" name= "telephone" maxlength="20" type="text" class="form-control" id="inputPhone" placeholder="000 0000000">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputDNI">DNI</label>
                  <input [(ngModel)]="persona.dni"  name ="dni" maxlength="8" type="text" class="form-control" id="inputDNI" placeholder="00000000">
                </div>
              </div>
              <button (click)="Guardar()" mat-raised-button color="warn">Guardar</button>
            </form>
          </div>
    </div>  
</div>
-->
