/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*    MENSAJES DE NOTIFICACIONES    */
snack-bar-container.success {
    background-color: #5cb85c;
    color: #ffffff;
}

snack-bar-container.warn {
    background-color: rgb(238, 11, 11);
    color: #ffffff;
}
snack-bar-container.notification simple-snack-bar {
    font-size: 18px !important;
    font-weight: bold;
}

/* controlador de filtros del BUSCADOR de LISTAR */
.search-div {
    margin: 10px;
}
    .search-form-field {
        width: 60%;
        margin-top: 2%;
        margin-left: 5%;
        background-color: #ffffff;
        border-radius: 5px;
    }   
    .search-form-field div.mat-form-field-underline {
        display: none;
    }
    .search-form-field div.mat-form-field-infix {
        border-top: 0px;
    }
    .search-form-field div.mat-form-field-wrapper {
        padding-bottom: 0px;
    }
    .search-form-field div.mat-form-field-Suffix button {
        height: 32px;
        width: 32px;
    }

