/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*    MENSAJES DE NOTIFICACIONES    */
snack-bar-container.successDelete,
snack-bar-container.success,
snack-bar-container.successUpdate,
snack-bar-container.successLogin {
    background-color: #5cb85c;
    color: #ffffff;
}

snack-bar-container.notification simple-snack-bar {
    font-size: 18px !important;
    font-weight: bold;
}
