<nav class="navbar navbar-dark sticky-top" style="background-color: #f7444e;"> <!-- BARRA DE NAVEGACIÓN -->   
    <a class="navbar-brand" href="/login">  
        Cerrar sesión
    </a>
    <!-- <a class="navbar-brand" href="/home">
        <img src="../../assets/images/logomobygrande.png" style="max-height: 30px;" alt="MOBYDIGITAL"/>
    </a> -->
    <a href="/admin">
        <div class="home-button">
            <button mat-icon-button>
            <mat-icon>home</mat-icon>
            </button>
        </div>
    </a>
  </nav> <!-- FIN ** BARRA DE NAVEGACIÓN -->

<br><br>

<div class="container container-light">
    
    <mat-toolbar>
        <span class="fill-remaining-space">
            Listado de Moby
        </span>
    </mat-toolbar>

    <div class="body">
        <table class="table table-hover table-light">
            <thead>
                <tr class="text-center">
                    <th>DNI</th>
                    <th>NOMBRE/S</th>
                    <th>APELLIDO/S</th>
                    <th>EMAIL</th>
                    <th>TELEFONO</th>
                    <th>LLAVES</th>
                    <th>
                        <button (click)="Nuevo()" mat-mini-fab matTooltip="Agregá un Moby Digimon!" 
                                matTooltipPosition="above" color="classic">
                            <mat-icon class="add-icon">add</mat-icon>
                        </button>
                        <button (click)="Nuevo()" mat-mini-fab matTooltip="Agregá llaves!" 
                                matTooltipPosition="above" color="classic" class="key-button">
                            <mat-icon class="key-icon">vpn_key</mat-icon>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas" class="text-center"> 
                    <td>{{persona.dni}}</td> <!--Índice persona va a iterar en cada uno de los elementos-->
                    <td>{{persona.name}}</td>
                    <td>{{persona.lastname}}</td>
                    <td>{{persona.email}}</td>
                    <td>{{persona.telephone}}</td>
                    <td><button mat-raised-button (click)="openDialog(persona)"
                                matTooltip="Mirá las llaves!"
                                aria-label="Botón que muestra un texto cuando posicionas el mouse encima">VER</button></td>
                    <td>
                        <button mat-raised-button color="accent" (click)="Editar(persona)">Editar</button>
                        <button mat-raised-button color="warn" (click)="Delete(persona)" style="margin-left: 10px;">
                            <mat-icon class="delete">delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> <!-- FIN DIV LISTA -->
</div>
